{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-module" data-toggle="tooltip"
                        title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i>
                </button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}"
                   class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i
                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">×</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data"
                      id="form-module" class="form-horizontal">
                    <fieldset>
                        <legend>{{ entry_api_configuration }}</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="input-status">{{ entry_status }}</label>
                            <div class="col-sm-10">
                                <select name="status" id="input-status" class="form-control">
                                    {% if status %}
                                        <option value="1"
                                                selected="selected">{{ text_enabled }}</option>
                                        <option value="0">{{ text_disabled }}</option>
                                    {% else %}
                                        <option value="1">{{ text_enabled }}</option>
                                        <option value="0"
                                                selected="selected">{{ text_disabled }}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="input-convert_to_order">{{ entry_convert_to_order }}</label>
                            <div class="col-sm-4">
                                <select name="convert_to_order" id="input-convert_to_order"
                                        class="form-control">
                                    {% if convert_to_order %}
                                        <option value="1"
                                                selected="selected">{{ text_enabled }}</option>
                                        <option value="0">{{ text_disabled }}</option>
                                    {% else %}
                                        <option value="1">{{ text_enabled }}</option>
                                        <option value="0"
                                                selected="selected">{{ text_disabled }}</option>
                                    {% endif %}
                                </select>
                            </div>
                            <label class="col-sm-2 control-label"
                                   for="input-auto_accept_order">{{ entry_auto_accept_order }}</label>
                            <div class="col-sm-4">
                                <select name="auto_accept_order" id="input-auto_accept_order"
                                        class="form-control">
                                    {% if auto_accept_order %}
                                        <option value="1"
                                                selected="selected">{{ text_enabled }}</option>
                                        <option value="0">{{ text_disabled }}</option>
                                    {% else %}
                                        <option value="1">{{ text_enabled }}</option>
                                        <option value="0"
                                                selected="selected">{{ text_disabled }}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ text_api_configuration }}</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="input-api_url">{{ entry_api_url }}</label>
                            <div class="col-sm-10">
                                <input type="text" name="api_url"
                                       value="{{ api_url }}"
                                       placeholder="{{ entry_api_url }}" id="input-api_url"
                                       class="form-control" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="input-api_username">{{ entry_api_username }}</label>
                            <div class="col-sm-4">
                                <input type="text" name="api_username"
                                       value="{{ api_username }}"
                                       placeholder="{{ entry_api_username }}"
                                       id="input-api_username"
                                       class="form-control" autocomplete="off"/>
                            </div>
                            <label class="col-sm-2 control-label"
                                   for="input-api_password">{{ entry_api_password }}</label>
                            <div class="col-sm-4">
                                <input type="text" name="api_password"
                                       value="{{ api_password }}"
                                       placeholder="{{ entry_api_password }}"
                                       id="input-api_password"
                                       class="form-control" autocomplete="off"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ text_order_configuration }}</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="input-customer_group">{{ entry_customer_group }}</label>
                            <div class="col-sm-4">
                                <select name="customer_group" id="input-customer_group"
                                        class="form-control">
                                    {% for group in customer_groups %}
                                    {% if group.id == customer_group %}
                                        <option value="{{ group.id }}"
                                                selected="selected">{{ group.name }}</option>
                                    {% else %}
                                        <option value="{{ group.id }}">{{ group.name }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <label class="col-sm-2 control-label"
                                   for="input-shipping_method">{{ entry_shipping_method }}</label>
                            <div class="col-sm-4">
                                <select name="shipping_method" id="input-shipping_method"
                                        class="form-control">
                                    {% for method in shipping_methods %}
                                    {% if method.id == shipping_method %}
                                        <option value="{{ method.id }}"
                                                selected="selected">{{ method.name }}</option>
                                    {% else %}
                                        <option value="{{ method.id }}">{{ method.name }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="input-payment_method">{{ entry_payment_method }}</label>
                            <div class="col-sm-4">
                                <select name="payment_method" id="input-payment_method"
                                        class="form-control">
                                    {% for method in payment_methods %}
                                    {% if method.method_id == payment_method %}
                                        <option value="{{ method.id }}"
                                                selected="selected">{{ method.name }}</option>
                                    {% else %}
                                        <option value="{{ method.id }}">{{ method.name }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ text_xml_configuration }}</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="input-xml_status">{{ entry_xml_status }}</label>
                            <div class="col-sm-10">
                                <select name="xml_status" id="input-xml_status"
                                        class="form-control">
                                    {% if xml_status %}
                                        <option value="1"
                                                selected="selected">{{ text_enabled }}</option>
                                        <option value="0">{{ text_disabled }}</option>
                                    {% else %}
                                        <option value="1">{{ text_enabled }}</option>
                                        <option value="0"
                                                selected="selected">{{ text_disabled }}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="input-xml_token">{{ entry_xml_token }}</label>
                            <div class="col-sm-10">
                                <input type="text" name="xml_token"
                                       value="{{ xml_token }}"
                                       placeholder="{{ entry_xml_token }}"
                                       id="input-xml_token"
                                       class="form-control" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="input-xml_export_category_tree">{{ entry_xml_export_category_tree }}</label>
                            <div class="col-sm-4">
                                <select name="xml_export_category_tree"
                                        id="input-xml_export_category_tree" class="form-control">
                                    {% if xml_export_category_tree %}
                                        <option value="1"
                                                selected="selected">{{ text_enabled }}</option>
                                        <option value="0">{{ text_disabled }}</option>
                                    {% else %}
                                        <option value="1">{{ text_enabled }}</option>
                                        <option value="0"
                                                selected="selected">{{ text_disabled }}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="input-xml_mpn_attr">{{ entry_xml_mpn_attr }}</label>
                            <div class="col-sm-4">
                                <select name="xml_mpn_attr" id="input-xml_mpn_attr"
                                        class="form-control"
                                        data-display="#input-xml_mpn_attr_other">
                                    <option value="mnp" selected="selected">{{ text_mnp }}</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label"
                                   for="input-xml_ean_attr">{{ entry_xml_ean_attr }}</label>
                            <div class="col-sm-4">
                                <select name="xml_ean_attr" id="input-xml_ean_attr"
                                        class="form-control"
                                        data-display="#input-xml_ean_attr_other">
                                    <option value="ean" selected="selected">{{ text_ean }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="input-xml_name_attr">{{ entry_xml_name_attr }}</label>
                            <div class="col-sm-4">
                                <select name="xml_name_attr" id="input-xml_name_attr"
                                        class="form-control"
                                        data-display="#input-xml_name_attr_other">
                                    <option value="name"
                                            selected="selected">{{ text_name }}</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label"
                                   for="input-xml_description_attr">{{ entry_xml_description_attr }}</label>
                            <div class="col-sm-4">
                                <select name="xml_description_attr" id="input-xml_description_attr"
                                        class="form-control"
                                        data-display="#input-xml_description_attr_other">
                                    <option value="description"
                                            selected="selected">{{ text_description }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="input-xml_brand_attr">{{ entry_xml_brand_attr }}</label>
                            <div class="col-sm-4">
                                <select name="xml_brand_attr" id="input-xml_brand_attr"
                                        class="form-control"
                                        data-display="#input-xml_brand_attr_other">
                                    <option value="manufacturer"
                                            selected="selected">{{ text_manufacturer }}</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label"
                                   for="input-xml_weight_attr">{{ entry_xml_weight_attr }}</label>
                            <div class="col-sm-4">
                                <select name="xml_weight_attr" id="input-xml_weight_attr"
                                        class="form-control"
                                        data-display="#input-xml_weight_attr_other">
                                    <option value="weight"
                                            selected="selected">{{ text_weight }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="input-xml_list_price_attr">{{ entry_xml_list_price }}</label>
                            <div class="col-sm-4">
                                <select name="xml_list_price_attr" id="input-xml_list_price_attr"
                                        class="form-control">
                                    {% for attr in product_attributes %}
                                        {% if xml_list_price_attr == attr.attribute_id %}
                                            <option value="{{ attr.attribute_id }}"
                                                    selected="selected">{{ attr.name }}</option>
                                        {% else %}
                                            <option value="{{ attr.attribute_id }}">{{ attr.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <label class="col-sm-2 control-label"
                                   for="input-xml_shipping_time_attr">{{ entry_xml_shipping_time }}</label>
                            <div class="col-sm-4">
                                <select name="xml_shipping_time_attr" id="input-xml_shipping_time_attr"
                                        class="form-control">
                                    {% for attr in product_attributes %}
                                        {% if xml_shipping_time_attr == attr.attribute_id %}
                                            <option value="{{ attr.attribute_id }}"
                                                    selected="selected">{{ attr.name }}</option>
                                        {% else %}
                                            <option value="{{ attr.attribute_id }}">{{ attr.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="input-xml_offer_from">{{ entry_xml_offer_from }}</label>
                            <div class="col-sm-4">
                                <select name="xml_offer_from_attr" id="input-xml_offer_from"
                                        class="form-control">
                                    {% for attr in product_attributes %}
                                        {% if xml_offer_from_attr == attr.attribute_id %}
                                            <option value="{{ attr.attribute_id }}"
                                                    selected="selected">{{ attr.name }}</option>
                                        {% else %}
                                            <option value="{{ attr.attribute_id }}">{{ attr.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <label class="col-sm-2 control-label"
                                   for="input-xml_offer_to">{{ entry_xml_offer_to }}</label>
                            <div class="col-sm-4">
                                <select name="xml_offer_to_attr" id="input-xml_offer_to"
                                        class="form-control">
                                    {% for attr in product_attributes %}
                                        {% if xml_offer_to_attr == attr.attribute_id %}
                                            <option value="{{ attr.attribute_id }}"
                                                    selected="selected">{{ attr.name }}</option>
                                        {% else %}
                                            <option value="{{ attr.attribute_id }}">{{ attr.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="input-xml_offer_price_attr">{{ entry_xml_offer_price }}</label>
                            <div class="col-sm-4">
                                <select name="xml_offer_price_attr" id="input-xml_offer_price_attr"
                                        class="form-control">
                                    {% for attr in product_attributes %}
                                        {% if xml_offer_price_attr == attr.attribute_id %}
                                            <option value="{{ attr.attribute_id }}"
                                                    selected="selected">{{ attr.name }}</option>
                                        {% else %}
                                            <option value="{{ attr.attribute_id }}">{{ attr.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <label class="col-sm-2 control-label"
                                   for="input-xml_offer_quantity">{{ entry_xml_offer_quantity }}</label>
                            <div class="col-sm-4">
                                <select name="xml_offer_quantity_attr" id="input-xml_offer_quantity"
                                        class="form-control">
                                    {% for attr in product_attributes %}
                                        {% if xml_offer_quantity_attr == attr.attribute_id %}
                                            <option value="{{ attr.attribute_id }}"
                                                    selected="selected">{{ attr.name }}</option>
                                        {% else %}
                                            <option value="{{ attr.attribute_id }}">{{ attr.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript"><!--
    $(document).ready(function () {
        $('select[data-display]').on('click', function (){
            var _this = $(this)
            var target = $(_this.attr('data-display'))
            if(_this.val() === "other"){
                target.show()
            } else {
                target.hide()
            }
        }).trigger('click')
    })
    //--></script>
{{ footer }}