{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="button" data-toggle="tooltip" title="{{ button_filter }}"
                        onclick="$('#filter-product').toggleClass('hidden-sm hidden-xs');"
                        class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i>
                </button>
                <button type="button" form="form-product" formaction="{{ enable_all }}"
                        data-toggle="tooltip" title="{{ button_enable_all }}" class="btn btn-default"
                        onclick="confirm('{{ text_confirm }}') ? $('#form-product').attr('action', $(this).attr('formaction')).submit() : false;">
                    <i class="fa fa-download"></i></button>
                <button type="button" form="form-product" formaction="{{ enable }}"
                        data-toggle="tooltip" title="{{ button_enable }}" class="btn btn-success"
                        onclick="confirm('{{ text_confirm }}') ? $('#form-product').attr('action', $(this).attr('formaction')).submit() : false;">
                    <i class="fa fa-download"></i></button>
                <button type="button" form="form-product" formaction="{{ disable }}"
                        data-toggle="tooltip" title="{{ button_disable }}" class="btn btn-primary"
                        onclick="confirm('{{ text_confirm }}') ? $('#form-product').attr('action', $(this).attr('formaction')).submit() : false;">
                    <i class="fa fa-ban"></i></button>
                <button type="button" form="form-product" formaction="{{ disable_all }}"
                        data-toggle="tooltip" title="{{ button_disable_all }}" class="btn btn-danger"
                        onclick="confirm('{{ text_confirm }}') ? $('#form-product').attr('action', $(this).attr('formaction')).submit() : false;">
                    <i class="fa fa-ban"></i></button>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">{% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i
                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i
                        class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="row">
            <div id="filter-product" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label" for="input-name">{{ entry_name }}</label>
                            <input type="text" name="filter_name" value="{{ filter_name }}"
                                   placeholder="{{ entry_name }}" id="input-name"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-model">{{ entry_model }}</label>
                            <input type="text" name="filter_model" value="{{ filter_model }}"
                                   placeholder="{{ entry_model }}" id="input-model"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label"
                                   for="input-status">{{ column_status }}</label>
                            <select name="filter_status" id="input-status" class="form-control">
                                <option value=""></option>
                                {% if filter_status == '1' %}
                                    <option value="1"
                                            selected="selected">{{ text_enabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                {% endif %}
                                {% if filter_status == '0' %}
                                    <option value="0"
                                            selected="selected">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="0">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label"
                                   for="input-enabled">{{ column_enabled }}</label>
                            <select name="filter_enabled" id="input-enabled" class="form-control">
                                <option value=""></option>
                                {% if filter_enabled == '1' %}
                                    <option value="1"
                                            selected="selected">{{ text_enabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                {% endif %}
                                {% if filter_enabled == '0' %}
                                    <option value="0"
                                            selected="selected">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="0">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="form-group text-right">
                            <button type="button" id="button-filter" class="btn btn-default"><i
                                        class="fa fa-filter"></i> {{ button_filter }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-md-pull-3 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
                    </div>
                    <div class="panel-body">
                        <form action="{{ delete }}" method="post" enctype="multipart/form-data"
                              id="form-product">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <td style="width: 1px;" class="text-center"><input
                                                    type="checkbox"
                                                    onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"/>
                                        </td>
                                        <td class="text-center">{{ column_image }}</td>
                                        <td class="text-left">{% if sort == 'pd.name' %} <a
                                                    href="{{ sort_name }}"
                                                    class="{{ order|lower }}">{{ column_name }}</a> {% else %}
                                                <a href="{{ sort_name }}">{{ column_name }}</a> {% endif %}
                                        </td>
                                        <td class="text-left">{% if sort == 'p.model' %} <a
                                                    href="{{ sort_model }}"
                                                    class="{{ order|lower }}">{{ column_model }}</a> {% else %}
                                                <a href="{{ sort_model }}">{{ column_model }}</a> {% endif %}
                                        </td>
                                        <td class="text-left">{% if sort == 'p.status' %} <a
                                                    href="{{ sort_status }}"
                                                    class="{{ order|lower }}">{{ column_status }}</a> {% else %}
                                                <a href="{{ sort_status }}">{{ column_status }}</a> {% endif %}
                                        </td>
                                        <td class="text-left">{% if sort == 'enabled' %} <a
                                                    href="{{ sort_enabled }}"
                                                    class="{{ order|lower }}">{{ column_enabled }}</a> {% else %}
                                                <a href="{{ sort_enabled }}">{{ column_enabled }}</a> {% endif %}
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if products %}
                                        {% for product in products %}
                                            <tr>
                                                <td class="text-center">{% if product.product_id in selected %}
                                                        <input type="checkbox" name="selected[]"
                                                               value="{{ product.product_id }}"
                                                               checked="checked"/>
                                                    {% else %}
                                                        <input type="checkbox" name="selected[]"
                                                               value="{{ product.product_id }}"/>
                                                    {% endif %}</td>
                                                <td class="text-center">{% if product.image %} <img
                                                            src="{{ product.image }}"
                                                            alt="{{ product.name }}"
                                                            class="img-thumbnail"/> {% else %}
                                                        <span class="img-thumbnail list"><i
                                                                    class="fa fa-camera fa-2x"></i></span> {% endif %}
                                                </td>
                                                <td class="text-left">{{ product.name }}</td>
                                                <td class="text-left">{{ product.model }}</td>
                                                <td class="text-left">{{ product.status }}</td>
                                                <td class="text-left">{{ product.enabled }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td class="text-center"
                                                colspan="8">{{ text_no_results }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>

                                </table>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm-6 text-left">{{ pagination }}</div>
                            <div class="col-sm-6 text-right">{{ results }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"><!--
        $('#button-filter').on('click', function () {
            var url = '';

            var filter_name = $('input[name=\'filter_name\']').val();

            if (filter_name)
            {
                url += '&filter_name=' + encodeURIComponent(filter_name);
            }

            var filter_model = $('input[name=\'filter_model\']').val();

            if (filter_model)
            {
                url += '&filter_model=' + encodeURIComponent(filter_model);
            }

            var filter_status = $('select[name=\'filter_status\']').val();

            if (filter_status !== '')
            {
                url += '&filter_status=' + encodeURIComponent(filter_status);
            }

            var filter_enabled = $('select[name=\'filter_enabled\']').val();

            if (filter_enabled !== '')
            {
                url += '&filter_enabled=' + encodeURIComponent(filter_enabled);
            }
            location = 'index.php?route=extension/module/onecode_shopflix_product&user_token={{ user_token }}' + url;
        });
        //--></script>
    <script type="text/javascript"><!--
        // IE and Edge fix!
        $('button[form=\'form-product\']').on('click', function(e) {
            $('#form-product').attr('action', $(this).attr('formaction'));
        });

        $('input[name=\'filter_name\']').autocomplete({
            'source': function (request, response) {
                $.ajax({
                    url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
                    dataType: 'json',
                    success: function (json) {
                        response($.map(json, function (item) {
                            return {
                                label: item['name'],
                                value: item['product_id']
                            }
                        }));
                    }
                });
            },
            'select': function (item) {
                $('input[name=\'filter_name\']').val(item['label']);
            }
        });

        $('input[name=\'filter_model\']').autocomplete({
            'source': function (request, response) {
                $.ajax({
                    url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_model=' + encodeURIComponent(request),
                    dataType: 'json',
                    success: function (json) {
                        response($.map(json, function (item) {
                            return {
                                label: item['model'],
                                value: item['product_id']
                            }
                        }));
                    }
                });
            },
            'select': function (item) {
                $('input[name=\'filter_model\']').val(item['label']);
            }
        });
        //--></script>
</div>
{{ footer }}